<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr">
  <head>
    <title><%= content_for(:title) || "Manday" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <script src="/falcon/assets/js/config.js"></script>
    <script src="/falcon/vendors/simplebar/simplebar.min.js"></script>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="/falcon/vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link href="/falcon/assets/css/theme-rtl.css" rel="stylesheet" id="style-rtl">
    <link href="/falcon/assets/css/theme.css" rel="stylesheet" id="style-default">
    <link href="/falcon/assets/css/user-rtl.css" rel="stylesheet" id="user-style-rtl">
    <link href="/falcon/assets/css/user.css" rel="stylesheet" id="user-style-default">
    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>

  <body>
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <script>
          var isFluid = JSON.parse(localStorage.getItem('isFluid'));
          if (isFluid) {
            var container = document.querySelector('[data-layout]');
            container.classList.remove('container');
            container.classList.add('container-fluid');
          }
        </script>
        <%= render "layouts/left_navbar" %>

        <div class="content">
          <%= render "layouts/top_navbar" %>

          <%= yield %>

          <%= render "layouts/footer" %>

          <div class="modal fade" id="authentication-modal" tabindex="-1" role="dialog" aria-labelledby="authentication-modal-label" aria-hidden="true">
            <div class="modal-dialog mt-6" role="document">
              <div class="modal-content border-0">
                <div class="modal-header px-5 position-relative modal-shape-header bg-shape">
                  <div class="position-relative z-1">
                    <h4 class="mb-0 text-white" id="authentication-modal-label">Register</h4>
                    <p class="fs-10 mb-0 text-white">Please create your free Falcon account</p>
                  </div>
                  <button class="btn-close position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-4 px-5">
                  <form>
                    <div class="mb-3">
                      <label class="form-label" for="modal-auth-name">Name</label>
                      <input class="form-control" type="text" autocomplete="on" id="modal-auth-name" />
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="modal-auth-email">Email address</label>
                      <input class="form-control" type="email" autocomplete="on" id="modal-auth-email" />
                    </div>
                    <div class="row gx-2">
                      <div class="mb-3 col-sm-6">
                        <label class="form-label" for="modal-auth-password">Password</label>
                        <input class="form-control" type="password" autocomplete="on" id="modal-auth-password" />
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label" for="modal-auth-confirm-password">Confirm Password</label>
                        <input class="form-control" type="password" autocomplete="on" id="modal-auth-confirm-password" />
                      </div>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="modal-auth-register-checkbox" />
                      <label class="form-label" for="modal-auth-register-checkbox">I accept the <a href="#!">terms </a>and <a class="white-space-nowrap" href="#!">privacy policy</a></label>
                    </div>
                    <div class="mb-3">
                      <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Register</button>
                    </div>
                  </form>
                  <div class="position-relative mt-5">
                    <hr />
                    <div class="divider-content-center">or register with</div>
                  </div>
                  <div class="row g-2 mt-2">
                    <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100" href="#"><span class="fab fa-google-plus-g me-2" data-fa-transform="grow-8"></span> google</a></div>
                    <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100" href="#"><span class="fab fa-facebook-square me-2" data-fa-transform="grow-8"></span> facebook</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Falcon JS files -->
    <script src="/falcon/vendors/popper/popper.min.js"></script>
    <script src="/falcon/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/falcon/vendors/anchorjs/anchor.min.js"></script>
    <script src="/falcon/vendors/is/is.min.js"></script>
    <script src="/falcon/vendors/echarts/echarts.min.js"></script>
    <script src="/falcon/vendors/fontawesome/all.min.js"></script>
    <script src="/falcon/vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/falcon/vendors/list.js/list.min.js"></script>
    <script src="/falcon/assets/js/theme.js"></script>
  </body>
</html>
